<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>todolist组件拆分</title>
	<script src="./vue.js"></script>
</head>
<body>
<div id="vue-one">
	<h4 style="color: gray">每日任务列表</h4>
	<input v-model="todolist">
	<button @click="handlesubmit">提交</button>
	<ul>
		<li v-for="(item,index) of list" :key="index">{{item}}</li>
	</ul>
</div>
<script>
	var one=new Vue({
		el: "#vue-one",
		data: {
			todolist: "",
			list: []
		},
		methods: {
			handlesubmit: function() {
				this.list.push(this.todolist)
				this.todolist= ""
			}
		}
	})
</script>
</body>
</html>